.intro{
    height: 880px;
    display: flex;
    align-items: center;
    background: url(../img/intro_bg.gif), no-repeat, center;
    background-size: cover;
}
.intro__overflow{
    position: absolute;
    width: 100%;
    height: 880px;
    background-color: #000;
    z-index: 2;
    opacity: 0.6;
}

.video__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.video{
    padding: 60px 0;
}
.intro__inner{
    width: 650px;
    font-size: 32px;
    color: #fff;
    padding-left: 150px;
    z-index: 5;
    position: relative;
}
.intro__list__item{
    color: #fff;
}
.intro__inner span{
    font-size: 28px;
}
.video__main iframe{
    width:560px;
    height:315px;
}
.culture__inner{
    padding: 30px 0;
}
.culture__img{
    width: 40%;
    margin-right: 20px;
}
.culture__img img{
    width: 100%;
}
.culture__block__text{
    width: 60%;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .container{
        max-width: 780px;
    }
}
@media screen and (min-width: 580px) and (max-width: 800px) {
    .container{
        max-width: 560px;
    }
    .intro__inner{
        padding: 0;
    }
    .header__nav__link{
        font-size: 18px;
    }
    .header__nav__link::before{
        left: 25%;
        bottom: -33px;
    }
    .header__nav__link::after{
        right: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 580px) {
    .container{
        max-width: 320px;
    }
    .intro__inner{
        padding: 0;
    }
    .intro__inner{
        font-size: 15px;
        width: 320px;
    }
    .intro__inner span{
        font-size: 18;
    }
    .main__header{
        flex-direction: column;
        justify-content: space-around;
    }
    .header{
        height: 200px;
    }
    .header__nav__link{
        padding: 0;
        font-size: 15px;
    }
    .header__right{
        width: 100%;
    }
    .header__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__nav__link::before{
        left: 25%;
        bottom: -30px;
    }
    .header__nav__link::after{
        right: 0;
    }
    .video__main iframe{
        width:320px;
        height:180px;
    }
}
